<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365397384361-a01b2ak4mtes7j9kej3mk2pi8jvs2b48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365397384361-a01b2ak4mtes7j9kej3mk2pi8jvs2b48</string>
	<key>API_KEY</key>
	<string>AIzaSyBkHZpWRUfY1OzJgS8LPTyk0xcT4EqlQjc</string>
	<key>GCM_SENDER_ID</key>
	<string>365397384361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intereste.flutterProjects</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-b24da</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-b24da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365397384361:ios:73f624d61a668c2fdd1db8</string>
</dict>
</plist>